llm_data/
.vscode/
.idea/
.ipynb_checkpoints/
__pycache__/
.DS_Store
*.pkl
*.log
!raw_data
*.pt
*.tmp
unused/
tmp/
temp.ipynb
!results/T*.pkl
.mypy_cache/
log/
prompt_embs/
eval_arc*.txt
.hypothesis/
*egg-info*
_*
initial_suffix.tmp
datasets/testing/pii_conversations_rest25_gt.json
datasets/training/pii_conversationsmdimgpath_24*.json
evaluations/*
!evaluations/local_evaluations/
!evaluations/product_evaluations/
.pdm-python